public/assets/*.css       linguist-language=None
index.html                linguist-language=None
svelte.config.js          linguist-language=None
.eslintrc.cjs             linguist-language=None
client/tests/*            linguist-language=None
