// @media query cut-off points
$mobile_min_width: 320px;
$mobile_max_width: 480px;
$widescreen_min_width: 1400px;

$font_large: 22px;
$font_medium: 18px;

// Colors
$bg: #232845;
$folder: #232845;
$grey: rgba(47, 52, 63, 0.5);
$white: #f5e4f3;


//== Mixins ==//
@mixin mobile() {
  @media 
    (min-width: $mobile_min_width) and 
    (max-width: $mobile_max_width) {
    @content;
  }
}

