// @media query cut-off points
$mobile_min_width: 320px;
$mobile_max_width: 480px;
$widescreen_min_width: 1400px;

$font_large: 22px;
$font_medium: 18px;
$font_small: 14px;

// Colors
$lilac:      #6e85d3;
$bg:         #232845;
$folder:     #232845;
$white:      #f5e4f3;
$grey:       rgba(47, 52, 63, 0.5);
$red:        #a8323e;
$green:      #32a852;
$black:      #1a1c1f;
$pink:       #de95c3;

// Z-indices
$dialog_z: 10;
$cover_z: 9;


//== Mixins ==//
@mixin mobile() {
  @media
    (min-width: $mobile_min_width) and
    (max-width: $mobile_max_width) {
    @content;
  }
}

@mixin fade-in($sec: 1.0s) {
  @keyframes _fade-in {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  animation: _fade-in $sec;
}

// Shared style for input elements
@mixin input-style() {
  color: $white;
  background-color: $grey;
  border: 0;
  outline: 0;
  border-radius: 5%;
}



@mixin slide-in {
  @keyframes _slide-in {
    100% { transform: translateY(15vh); }
  }
  top: -5vh;
  animation: _slide-in 0.5s forwards;
}

@mixin slide-out {
  @keyframes _slide-out {
    100% { transform: translateY(-20vh); }
  }
  //top: 10vh;

  animation: _slide-out 2s forwards;
  animation-fill-mode: forwards;
}

:global(div.modal.closing) {
  color: red;
  @include slide-out();
}

