@use "vars";

:global(html), :global(body) {
  // The @font-face for 'Meslo' is defined in `nerd-fonts.min.css`
  font-family: Meslo, Arial;
  height: 100%;
  background-color: vars.$body_bg;
  color: vars.$white;
}

:global([role="button"]), :global(button) {
  cursor: pointer;
}

:global(div#root) {
  // Centering within main container
  width: vars.$tree_width;
  @include vars.centering(vars.$tree_width);

  @include vars.mobile {
    // The rows should fill the entire X-axis on mobile
    width: vars.$tree_width_mobile;
    margin: 0;
  }


  text-align: left;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
