@use "vars";

@font-face {
  font-family: "Meslo";
  src: url("meslo-nerd-fonts.ttf");
}

:global(html), :global(body) {
  font-family: Meslo, Arial;
  height: 100%;
  background-color: vars.$body_bg;
  color: vars.$white;

  text-align: left;
  margin-left: 25%; // centering on desktop
  @include vars.mobile{ margin-left: 2%; }
}


:global([role="button"]), :global(button) {
  cursor: pointer;
}

:global(#modalCover) {
  z-index: vars.$cover_z;
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: vars.$black;
  opacity: 0.5;
}

