@use "vars";

@font-face {
  font-family: "Meslo";
  src: url("meslo-nerd-fonts.ttf");
}

:global(html), :global(body) {
  font-family: Meslo, Arial;
  height: 100%;
  background-color: vars.$bg;
  color: vars.$white;

  text-align: center;
  @include vars.mobile { text-align: left; }
}

:global(div#root) {
  display: inline-block;
}

:global([role="button"]) {
  cursor: pointer;
}

:global(#modalCover) {
  z-index: vars.$cover_z;
  position: fixed;
  left:0;
  top:0;
  width: 100vw;
  height: 100vh;
  background-color: vars.$black;
  opacity: 0.5;
}

